.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.App-header {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  margin: 20px;
  size:15px;
}
.App-header img{
  height: 50px;
  margin-right: 20px;
} 

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.conversation-body {
  display: flex;
  justify-content: flex-start;
  height: 100%;
}